<%= form_for @smash, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :permalink, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :permalink, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :impact, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :impact, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :malware_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :malware_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                smashes_path, :class => 'btn' %>
  </div>
<% end %>
