<%- model_class = Smash -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:permalink) %>:</strong></dt>
  <dd><%= @smash.permalink %></dd>
  <dt><strong><%= model_class.human_attribute_name(:impact) %>:</strong></dt>
  <dd><%= @smash.impact %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @smash.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:malware_id) %>:</strong></dt>
  <dd><%= @smash.malware_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              smashes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_smash_path(@smash), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              smash_path(@smash),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
