<%= form_for @report, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :score, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :machine_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :machine_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :referent_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :referent_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :technician_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :technician_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reports_path, :class => 'btn' %>
  </div>
<% end %>
