<%- model_class = Report -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @report.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:score) %>:</strong></dt>
  <dd><%= @report.score %></dd>
  <dt><strong><%= model_class.human_attribute_name(:machine_id) %>:</strong></dt>
  <dd><%= @report.machine_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:referent_id) %>:</strong></dt>
  <dd><%= @report.referent_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:technician_id) %>:</strong></dt>
  <dd><%= @report.technician_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              reports_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_report_path(@report), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              report_path(@report),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
