<p>
  <strong>IdTechnician:</strong>
  <%= @technician.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @technician.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @technician.surname %>
</p>

<p>
  <strong>Via:</strong>
  <%= @technician.via %>
</p>

<p>
  <strong>Civico:</strong>
  <%= @technician.civico %>
</p>

<p>
  <strong>Comune:</strong>
  <%= @technician.comune %>
</p>

<p>
  <strong>Cap:</strong>
  <%= @technician.cap %>
</p>

<p>
  <strong>Email:</strong>
  <%= @technician.email %>
</p>

%= link_to "Back", technicians_path %> | <%= link_to "Edit", edit_technician_path(@technician)>
