<%= form_for @technician do |f| %>
    <% if @technician.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@technician.errors.count, "error") %> prohibited
                this technician from being saved:</h2>
            <ul>
                <% @technician.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
    <%= f.label :name %><br>
    <%= f.date_field :name %>
    </p>
    <p>
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
    </p>
    <p>
    <%= f.label :via %><br>
    <%= f.text_field :via %>
    </p>
    <p>
    <%= f.label :civico %><br>
    <%= f.text_field :civico %>
    </p>
    <p>
    <%= f.label :comune %><br>
    <%= f.text_field :comune %>
    </p>
    <p>
    <%= f.label :cap %><br>
    <%= f.text_field :cap %>
    </p>
    <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
    </p>

    <p>
    <%= f.submit %>
    </p>
<% end %>
