<h1>Listing technicians</h1>

<%= link_to "New technician", new_technician_path %>
<table>
    <tr>
        <th>IdTechnician</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Via</th>
        <th>Civico</th>
        <th>Comune</th>
        <th>Cap</th>
        <th>Email</th>
        <th>IdReferent</th>
    </tr>

    <% @technicians.each do |technician| %>
        <tr>
            <td><%= technician.id %></td>
            <td><%= technician.name %></td>
            <td><%= technician.surname %></td>
            <td><%= technician.via %></td>
            <td><%= technician.civico %></td>
            <td><%= technician.comune %></td>
            <td><%= technician.cap %></td>
            <td><%= technician.email %></td>
            <td><%= technician.idref %></td>
            <td><%= link_to 'Show', technician %></td>
            <td><%= link_to 'Edit', { action: :edit, id: technician.id } %></td>
            <td><%= link_to 'Destroy', { action: :destroy, id: technician.id },
                method: :delete, data: { confirm: 'Are you REALLY sure?' } %></td>
        </tr>
    <% end %>
</table>
